
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/global.css">
    <link rel="stylesheet" href="static/dashboard.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>The Dash</title>
</head>
<body>
    <div class="container jumbotron">
        <h1 class=" display-4 lead center-text">Your Dash</h1>
        <!-- need to make table for current_cars -->
        <button type="button" class="btn btn-primary"><a href="/view_cars">View All Cars</a></button>
        <!-- takes you to the form -->
        <button type="button" class="btn btn-primary"><a href="/add_car">Add Car</a></button>
        <!-- add sold cars table -->
        <button type="button" class="btn btn-primary"><a href="/sell_car">Sell Car</a></button>
    </div>
    
</body>
</html>
