<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Employee Login</title>
</head>
<body>
    <h1 class="display-4">Employee Login</h1>
    <form action="/clock_in" method="post">
        <div class="form-group">
          <label for="">Employee ID</label>
          <input type="text" name="emp_ID" class="form-control" placeholder="Employee ID">
        </div>
        <button value="clock_in" type="submit" class="btn btn-primary">Clock In</button>

        <button value="view_past" type="submit" class="btn btn-primary">View Past Punches</button>
    </form>


</body>
</html>
