<!DOCTYPE html>
<html>
<head>
    <title>Register New User</title>
</head>
<body>
    <h1>Register new user</h1>
    <form action="/dashboard" method="post">
        <input type="text" name="new_username" placeholder="New Username">
        <input type="password" name="new_password" placeholder="Password">
        <input type="checkbox" onclick="myFunction()" name="" value="Show Password">Show Password   
        <button value="register" type="submit" class="btn btn-primary">Submit</button>
    </form>
    

    <script type="text/javascript">
        function myFunction() {
          var x = document.getElementById("myInput");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }
    </script>
</body>
</html>
